@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: white;
}
header{
    background-color: black;
}
header h1{
    text-align: center;
    color: white;
}
header p {
    text-align: center;
    color: white;
}
nav{
    background-color: red;
}
nav a{
    color: white;
}
main{
    background-color: #0000009a;
    min-width: 300px;
    max-width: 1600px;
    padding: 20px;
    margin: auto;
}
main h1{
    margin-bottom: 2rem;
    font-size: 4rem;
    text-align: center;
}
main h2{
    margin-bottom: 1rem;
    font-size: 3rem;
}
main p{
    margin-bottom: 1rem;
    font-size: 2rem;
}
main img{
    min-width: 600px;
    max-width: 1000px;
}
img.jogadores{
    height: 600px;
    width: 50%;
    display: block;
    margin: auto;
}
img.titulos{
    height: 600px;
    width: 50%;
    display: block;
    margin: auto;
}
img.escudo{
    height: 600px;
    width: 50%;
    display: block;
    margin: auto;
}
footer{
    background-color: black;
}
footer p{
    color: white;
    text-align: center;
}
footer a{
    color: white;
}
    
